/* Estilos gerais */
html {
    -webkit-text-size-adjust: 100%;
}    

body {
    font-family: 'Arial', sans-serif;
    background-color: #271A45;
    margin: 0;
    padding: 0;
    text-align: center;
    max-zoom: 3;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Título principal */
h1 {
    font-size: 0 auto;
    text-align: center;
    color: #E1E1E6;
    /* margin-bottom: 20px; */
    /* background-color: aqua; */
    margin: auto 0;
    padding: 10px;
}

h2, h3 {
    font-size: 0 auto;
    text-align: center;
    color: #E1E1E6;
    margin-bottom: 2px;
    margin-top: 2px;
}

#div-expense-table {
    display: block;
    margin: 0 auto;
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 2px;
    margin-bottom: 2px;
    color: #E1E1E6;
    text-align: left;
}

input::placeholder, select:invalid, input [type="date"]::placeholder {
    color: #929292;
}


input, select {
    width: -webkit-fill-available;
    padding: 10px;
    border: 2px solid #633BBC;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    background-color: #8257E5;
    color: #E1E1E6;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

option {
    color:white;
}

/* Botão de cadastro */
button[type="submit"] {
    background-color: #633BBC;
    color: #E1E1E6;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0 auto;
    transition: background-color 0.3s ease;
    width: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,1);
}

button[type="submit"]:hover {
    background-color: #271A45;
}

/* Div para limitar a largura da tabela */
#table-container {
    margin: 0 auto;
    max-width: 350px;
    align-items: center;
    justify-content: center;
}

/* #div-expense-table table {
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    text-align: center;
    align-items: center;
} */


div {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Tabela de despesas */
table {
    /* width: 80%; */
    /* border-collapse: collapse; */
    background-color: #8257E5;
    /* border-radius: 8px; */
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    max-width: 350px;
    /* margin: 0 auto; */
    /* text-align: center; */
    font-size: 100%;

    border-collapse: separate;
    border-spacing: 0 0.5em;
}

/* Estilos para cabeçalhos de tabela */
th, #expense-table {
    border-radius: 5px;
    background-color: #271A45;
    color: #E1E1E6;
    padding: 6px;
    text-align: center;
    font-weight: normal;
    font-size: 50%;
    width: -webkit-fill-available;;
    /* text-align: center; */
}

#th0 {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#th6 {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Estilos para células de tabela */
td {
    padding: 2px;
    /* text-align: center; */
    /* border-top: 2px #929292; */
    /* border-top: 10px #e70909; */
    margin: 10px;
    background-color: #8257E5;
    
}

#td0 {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: left;
}

#td6 {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#monthly-tables {
    display: block;
    place-items: center;
    max-width: 350px;
    /* margin: 5px auto; */
    background-color: #E1E1E6;
    padding: 10px;
    /* border-radius: 8px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Formulário de despesa */
#expense-form, #div-expense-table, #monthly-tables {
    background-color: #633BBC;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 350px; /* Define uma largura máxima para melhorar a legibilidade em telas pequenas */
    margin: 5px auto; /* Centraliza o formulário na tela */
    /* width: auto; */
    text-align: center;
}


/* Botão de exclusão */
.delete-button {
    background-color: #AD1E12;
    color: #E1E1E6;
    border: none;
    padding: 2px 2px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 50%;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #2D090C;
}

/* Estilo do botão de ocultar despesas pagas */
#hide-paid-months {
    background-color: #AD1E12;
    color: #E1E1E6;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0 auto;
    transition: background-color 0.3s ease;
    width: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

#hide-paid-months:hover {
    background-color: #2D090C;
}
